<div class="container">
  <!-- Application Toolbar with Theme Toggle Button -->
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-title">
      <span>{{ title }}</span>
      <span class="subtitle">Developed by RBAP DIMA</span> <!-- Add subtitle here -->
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Main Content Area -->
  <div class="content">
    <h1>Supported Document</h1>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="onScanClick()" [disabled]="isLoading">
        <mat-icon>document_scanner</mat-icon>
        Scan POR Card
      </button>
      <button mat-raised-button color="accent" (click)="comingSoon()">
        <mat-icon>document_scanner</mat-icon>
        Scan ACC Card
      </button>
      <button mat-raised-button color="accent" (click)="comingSoon()">
        <mat-icon>document_scanner</mat-icon>
        Scan Tazkira
      </button>
    </div>

    <!-- Loading Spinner -->
    <div class="loading-spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Scan Results -->
    <div *ngIf="scanResults" class="results">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Scan Results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <pre>{{ scanResults }}</pre>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Floating Information Button -->
  <button mat-fab color="accent" class="info-button" (click)="showInfo()">
    <mat-icon>help</mat-icon>
  </button>

</div>
