/* Ensure the toolbar spans the full width and is fixed at the top */
.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
}

.container {
  padding: 16px;
  padding-top: 64px; /* Add top padding to avoid overlap with the fixed toolbar */
}

.toolbar-title {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.spacer {
  flex: 1;
}

.content {
  margin-top: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Fixed position to center it on the page */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  z-index: 999; /* Ensure it appears above other content */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
}

.results {
  margin-top: 24px;
}

.info-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

/* Custom FAB button style */
.custom-fab-yellow {
  background-color: var(--yellow) !important;
  color: var(--second-blue) !important;
}