/* Center the dialog */
.mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-content {
    width: 90%; /* Adjust the width as necessary */
    max-width: 600px; /* Adjust the max-width as necessary */
    margin: auto;
  }
  